<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="BufferingForwadingAppender" />
    <appender-ref ref="file" />
  </root>
  <logger name="Barney.WebUI.Controllers.HomeController">
    <level value="ALL" />
  </logger>
  <logger name="Barney.WebUI.Controllers.TrackedIncomeController">
    <level value="ERROR" />
  </logger>
  <appender name="BufferingForwadingAppender" type="log4net.Appender.BufferingForwardingAppender">
    <bufferSize value="10" />
    <appender-ref ref="ConsoleAppender" />
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="main.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="25MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
</log4net>