@model IndividualIncomeViewModel
@{
    ViewData["Title"] = "Income";
}


    <div class="card">
        <div class="card-body">Totals</div>
        <div class="form-group">
            <label asp-for="TotalIncomeBeforeDeductions"></label>
            @Html.DisplayFor(model => model.TotalIncomeBeforeDeductions)
        </div>
        <div class="form-group">
            <label asp-for="TotalIncomeAfterDeductions"></label>
            @Html.DisplayFor(model => model.TotalIncomeAfterDeductions)
        </div>
    </div>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Income</h3>
        <div>
            <a asp-action="Create" asp-controller="TrackedIncome" class="btn btn-primary btn-sm">Add Income</a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Before Deductions</th>
                    <th>After Deductions</th>
                    <th>Employer</th>
                    <th>Classification</th>
                </tr>
                </thead>
                <tbody>
                    @Html.DisplayFor(model => model.IndividualIncome)
                </tbody>
            </table>
        </div>
    </div>
</div>

