@model ExpenseViewModel


<tr>
    <td>@Html.DisplayFor(model => model.IncurredDate)</td>
    <td>@Html.DisplayFor(model => model.Amount)</td>
    <td>@Html.DisplayFor(model => model.Classification)</td>
</tr>
